* {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header nav {
  padding: 1rem 4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-size: 18px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .logo a {
  text-decoration: none;
  color: #0684ac;
  font-size: 18px;
}

header nav .logo span {
  font-size: 18px;
  font-weight: bolder;
  color: #81c41d;
}

header nav .nav-items {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-items li {
  list-style: none;
}

header nav .nav-items li .active {
  border-bottom: 3px solid #81c41d;
  color: #81c41d !important;
}

header nav .nav-items li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  padding: 1rem 0.1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

header nav .nav-items li a:hover {
  border-bottom: 3px solid #81c41d;
}

header nav button {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: #81c41d;
  font-size: 0.8rem;
}

header nav button[type="button"] {
  display: none;
}

header .hero {
  background: #e6ebe8;
  background: -webkit-gradient(linear, left bottom, left top, from(#e6ebe8), to(white));
  background: linear-gradient(0deg, #e6ebe8 0%, white 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  padding-bottom: 1rem;
}

header .hero .hero-titles {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .hero .hero-titles .fa-plus {
  font-size: 2.5rem;
  color: #81c41d;
}

header .hero .hero-titles h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

header .hero .hero-titles h1 {
  font-size: 4rem;
  margin: 0;
  color: #81c41d;
  font-weight: bolder;
}

header .hero .hero-titles p.hay {
  font-size: 18px;
}

header .hero .hero-titles p.cta-text {
  color: #999;
}

header .hero .hero-titles .cta-btns {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hero .hero-titles .cta-btns button:first-child {
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: #81c41d;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

header .hero .hero-titles .cta-btns button:first-child:hover {
  background-color: #707070;
}

header .hero .hero-titles .cta-btns button:last-child {
  background-color: transparent;
  border: none;
}

header .hero .hero-titles .cta-btns button:last-child li {
  border: 1px solid #81c41d;
  border-radius: 50%;
  color: #81c41d;
  padding: 0.7rem;
  margin-right: 0.5rem;
}

header .hero .hero-ill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero .hero-ill img {
  width: 100%;
}

main .section-title {
  text-align: center;
}

main .section-title h2 {
  color: #81c41d;
  font-size: 2rem;
  margin-bottom: 5px;
  display: inline-block;
}

main .section-title span {
  border-radius: 8px;
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #81c41d;
  margin-bottom: 1rem;
}

main .services {
  margin: 2rem 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .services .service {
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 0 1rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0;
}

main .services .service * {
  margin: 5px;
}

main .services .service H2 {
  color: #81c41d;
  text-align: center;
}

main .services .service p {
  margin: 1rem 0.5rem;
}

main .services .service li {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #999;
  margin: 2rem 0;
}

main .services .service button {
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: #81c41d;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

main .services .service button:hover {
  background-color: #707070;
}

main .newsletter {
  background-color: #0684ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main .newsletter h2 {
  text-shadow: none;
  font-size: 2rem;
  color: white;
  margin: 0;
  font-weight: normal;
}

main .newsletter form {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .newsletter form input[type="text"] {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
}

main .newsletter form input[type="submit"] {
  margin: 0;
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: #81c41d;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

main .newsletter form input[type="submit"]:hover {
  background-color: #707070;
}

main .products {
  margin: 1rem 0;
  text-align: center;
}

main .products .products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .products .products-wrapper li.fa {
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
}

main .products .products-wrapper li.fa:hover {
  color: #81c41d;
}

main .products .products-wrapper .product {
  text-align: center;
}

main .products .products-wrapper .product img {
  border-radius: 20px;
  border: 2px solid #ddd;
  width: 250px;
  height: 250px;
}

main .products .products-wrapper .product h2 {
  font-weight: bolder;
  color: #0684ac;
}

main .products .products-wrapper .product p {
  color: #81c41d;
  font-weight: bold;
}

main .products button {
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: #81c41d;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

main .products button:hover {
  background-color: #707070;
}

main .products .fa-plus {
  display: block;
  text-align: right;
  font-size: 2.5rem;
  color: #0684ac;
  padding: 0rem 4rem;
}

main .greating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  background-color: rgba(238, 238, 238, 0.3);
}

main .greating img {
  width: 50%;
}

main .greating .greating-message {
  padding: 1rem;
}

main .greating .greating-message h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

main .greating .greating-message H3 {
  color: #81c41d;
  font-weight: bolder;
}

main .greating .greating-message p {
  margin: 1rem 0;
}

main .greating .greating-message .cta-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .greating .greating-message .cta-btns button:first-child {
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: #81c41d;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

main .greating .greating-message .cta-btns button:first-child:hover {
  background-color: #707070;
}

main .greating .greating-message .cta-btns button:last-child {
  background-color: transparent;
  border: none;
}

main .greating .greating-message .cta-btns button:last-child li {
  border: 1px solid #81c41d;
  border-radius: 50%;
  color: #81c41d;
  padding: 0.7rem;
  margin-right: 0.5rem;
}

main .greating + li {
  display: block;
  text-align: left;
  font-size: 2.5rem;
  color: gray;
  padding: 0rem 4rem;
}

main .our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

main .our-services > li {
  font-size: 2rem;
  color: gray;
}

main .our-services .services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .our-services .services-wrapper .our-service {
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  margin: 0 1rem;
  width: 250px;
  color: white;
  border: 1px solid transparent;
  background-color: #81c41d;
  border-radius: 8px;
}

main .our-services .services-wrapper .our-service li {
  padding: 1rem;
  font-size: 4rem;
}

main .our-services .services-wrapper .our-service p {
  font-weight: bold;
  margin: 0.5rem 0;
}

main .our-services .services-wrapper .our-service:hover {
  border: 1px solid #81c41d;
  background-color: white;
}

main .our-services .services-wrapper .our-service:hover li,
main .our-services .services-wrapper .our-service:hover p {
  color: #81c41d;
}

main .our-services + .fa-info-circle {
  font-size: 2.5rem;
  color: #0684ac;
}

/*











































*/
@media (max-width: 750px) {
  header nav {
    padding: 1rem;
  }
  header nav .nav-items {
    display: none;
  }
  header nav button[type="button"] {
    font-size: 1.5rem;
    margin: 0;
    display: inline;
  }
  header nav button[type="button"]:hover {
    color: #707070;
  }
  header nav button[type="submit"] {
    display: none;
  }
  header .hero {
    background-color: #fbfdfc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  header .hero .hero-titles h1 {
    font-size: 3.5rem;
  }
  header .hero .hero-titles .cta-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hero .hero-titles .cta-btns button {
    font-size: 0.8rem;
    padding: 1rem;
  }
  header .hero .hero-ill {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .hero .hero-ill img {
    width: 100%;
  }
  main .services {
    display: block;
  }
  main .services .service {
    margin: 1rem auto;
    width: 80%;
  }
  main .services .service * {
    margin: 0;
  }
  main .newsletter {
    display: block;
    margin: 0;
    padding: 0;
  }
  main .newsletter h2 {
    font-size: 1rem;
    margin: 1rem 0;
    display: inline-block;
    text-align: center;
  }
  main .newsletter form {
    margin: 0;
    padding: 0;
    margin-left: 0rem;
    display: block;
  }
  main .newsletter form input[type="text"] {
    margin: 1rem 0;
  }
  main .newsletter form input[type="submit"] {
    cursor: pointer;
    margin: 0;
    display: inline;
    text-align: right;
    border-radius: 20px;
    background-color: #81c41d;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
  }
  main .newsletter form input[type="submit"]:hover {
    background-color: #707070;
  }
}
/*# sourceMappingURL=main.css.map */