$primaryTextColor: #0684ac;
$primaryColor: #81c41d;
$secondaryColor: #707070;
//mixins

@mixin mainButton {
  cursor: pointer;
  margin: 0;
  display: inline;
  text-align: right;
  border-radius: 20px;
  background-color: $primaryColor;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: $secondaryColor;
  }
}

//*****************************
* {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 0.5s;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
header {
  nav {
    padding: 1rem 4rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        color: $primaryTextColor;
        font-size: 18px;
      }
      font-size: 18px;
      display: block;
      flex: 1;
      span {
        font-size: 18px;
        font-weight: bolder;
        color: $primaryColor;
      }
    }
    .nav-items {
      margin: 0;
      display: flex;
      li {
        list-style: none;
        .active {
          border-bottom: 3px solid $primaryColor;
          color: $primaryColor !important;
        }
        a {
          font-size: 0.8rem;
          text-decoration: none;
          color: black;
          margin: 0 1rem;
          padding: 1rem 0.1rem;
          padding-bottom: 1rem;
          font-weight: 600;
          &:hover {
            border-bottom: 3px solid $primaryColor;
          }
        }
      }
    }
    button {
      cursor: pointer;
      background-color: transparent;
      padding: 0.5rem;
      border: none;
      outline: none;
      color: $primaryColor;
      font-size: 0.8rem;
    }
    button[type="button"] {
      display: none;
    }
  }
  .hero {
    background: rgb(230, 235, 232);
    background: linear-gradient(
      0deg,
      rgba(230, 235, 232, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    display: flex;
    padding: 4rem;
    padding-bottom: 1rem;
    .hero-titles {
      .fa-plus {
        font-size: 2.5rem;
        color: $primaryColor;
      }
      flex: 1;
      h2 {
        font-size: 1.5rem;
        font-weight: normal;
      }
      h1 {
        font-size: 4rem;
        margin: 0;
        color: $primaryColor;
        font-weight: bolder;
      }
      p.hay {
        font-size: 18px;
      }
      p.cta-text {
        color: #999;
      }
      .cta-btns {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          &:first-child {
            @include mainButton();
            align-self: flex-start;
          }
          &:last-child {
            background-color: transparent;
            border: none;
            li {
              border: 1px solid $primaryColor;
              border-radius: 50%;
              color: $primaryColor;
              padding: 0.7rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    .hero-ill {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

main {
  margin-bottom: 1rem;
  .section-title {
    text-align: center;
    h2 {
      color: $primaryColor;
      font-size: 2rem;
      margin-bottom: 5px;
      display: inline-block;
    }
    span {
      border-radius: 8px;
      display: inline-block;
      width: 40px;
      height: 5px;
      background-color: $primaryColor;
      margin-bottom: 1rem;
    }
  }
  .services {
    margin: 2rem 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    .service {
      border-radius: 20px;
      border: 1px solid #ddd;
      margin: 0 1rem;
      flex-basis: 25%;
      padding: 0;
      * {
        margin: 5px;
      }
      H2 {
        color: $primaryColor;
        text-align: center;
      }
      p {
        margin: 1rem 0.5rem;
      }
      li {
        display: block;
        text-align: center;
        font-size: 3rem;
        color: #999;
        margin: 2rem 0;
      }
      button {
        @include mainButton();
      }
    }
  }
  .newsletter {
    background-color: $primaryTextColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h2 {
      text-shadow: none;
      font-size: 2rem;
      color: white;
      margin: 0;
      font-weight: normal;
    }
    form {
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      input[type="text"] {
        border-radius: 20px;
        outline: none;
        border: none;
        padding: 0.5rem 2rem;
        margin: 0 1rem;
      }
      input[type="submit"] {
        margin: 0;
        @include mainButton();
      }
    }
  }
  .products {
    margin: 1rem 0;
    text-align: center;
    .products-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li.fa {
        background-color: #ddd;
        border-radius: 50%;
        padding: 0.5rem 0.8rem;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: $primaryColor;
        }
      }
      .product {
        text-align: center;
        img {
          border-radius: 20px;
          border: 2px solid #ddd;
          width: 250px;
          height: 250px;
        }
        h2 {
          font-weight: bolder;
          color: $primaryTextColor;
        }
        p {
          color: $primaryColor;
          font-weight: bold;
        }
      }
    }
    button {
      @include mainButton();
    }
    .fa-plus {
      display: block;
      text-align: right;
      font-size: 2.5rem;
      color: $primaryTextColor;
      padding: 0rem 4rem;
    }
  }
  .greating {
    display: flex;
    margin: 1rem 0;
    background-color: rgba(238, 238, 238, 0.3);
    img {
      width: 50%;
    }
    .greating-message {
      padding: 1rem;
      h2 {
        font-size: 2rem;
        margin-bottom: 0;
      }
      H3 {
        color: $primaryColor;
        font-weight: bolder;
      }
      p {
        margin: 1rem 0;
      }
      .cta-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          &:first-child {
            @include mainButton();
          }
          &:last-child {
            background-color: transparent;
            border: none;
            li {
              border: 1px solid $primaryColor;
              border-radius: 50%;
              color: $primaryColor;
              padding: 0.7rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .greating + li {
    display: block;
    text-align: left;
    font-size: 2.5rem;
    color: gray;
    padding: 0rem 4rem;
  }
  .our-services {
    > li {
      font-size: 2rem;
      color: gray;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding: 0 1rem;
    .services-wrapper {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      .our-service {
        cursor: pointer;
        text-align: center;
        padding: 1rem;
        margin: 0 1rem;
        width: 250px;
        color: white;
        border: 1px solid transparent;
        background-color: $primaryColor;
        border-radius: 8px;
        li {
          padding: 1rem;
          font-size: 4rem;
        }
        p {
          font-weight: bold;
          margin: 0.5rem 0;
        }
        &:hover {
          border: 1px solid $primaryColor;
          background-color: white;
          li,
          p {
            color: $primaryColor;
          }
        }
      }
    }
  }
  .our-services + .fa-info-circle {
    font-size: 2.5rem;
    color: $primaryTextColor;
  }
  .video-row {
    margin: 0 auto;
    width: 420px;
    iframe {
      width: 420px;
    }
  }
}

footer {
  background-color: red;
  border-top: 5px solid $primaryColor;
  background-color: $primaryTextColor;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  ul {
    padding-left: 0;
  }
  ul li {
    list-style: none;
    font-weight: lighter;
  }
  .our-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      font-size: 3rem;
      padding-right: 1rem;
    }
    .logo {
      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
      }
      font-size: 18px;
      display: block;
      flex: 1;
      span {
        font-size: 18px;
        font-weight: bolder;
        color: $primaryColor;
      }
    }
  }
  .your-money {
  }
  .your-services {
  }
  .about-us {
  }
}

/*











































*/

@media (max-width: 750px) {
  header {
    nav {
      padding: 1rem;
      .nav-items {
        display: none;
      }
      button[type="button"] {
        font-size: 1.5rem;
        margin: 0;
        display: inline;
        &:hover {
          color: $secondaryColor;
        }
      }
      button[type="submit"] {
        display: none;
      }
    }
    .hero {
      background-color: #fbfdfc;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      .hero-titles {
        h1 {
          font-size: 3.5rem;
        }
        .cta-btns {
          justify-content: space-between;
          button {
            font-size: 0.8rem;
            padding: 1rem;
          }
        }
      }
      .hero-ill {
        order: -1;
        flex: 1;
        img {
          width: 100%;
        }
      }
    }
  }
  main {
    .services {
      display: block;
      .service {
        margin: 1rem auto;
        width: 80%;
        * {
          margin: 0;
        }
      }
    }
    .newsletter {
      display: block;
      margin: 0;
      padding: 0;
      h2 {
        font-size: 1rem;
        margin: 1rem 0;
        display: inline-block;
        text-align: center;
      }
      form {
        margin: 0;
        padding: 0;
        margin-left: 0rem;
        display: block;
        input[type="text"] {
          margin: 1rem 0;
        }
        input[type="submit"] {
          @include mainButton();
        }
      }
    }
  }
}
